
$bg: #0BAAD4;
$text: rgba(255,255,255,.7);
$hover: darken($bg, 10%);


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*, *:before, *:after {
  box-sizing: border-box;
}

a, a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
  &:before, &:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
  }
}

//------- {{ effect-1 }} -------//

.effect-1 {
  padding-top: 10px;
  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $hover;
    transform:  scaleX(0);
  }
  &:hover:before {
    transform:  scaleX(1);
  }
}

//------- {{ effect-2 }} -------//

.effect-2 {
  padding: 10px;
  &:before, &:after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: $hover;
  }
  &:before {
    border-width: 2px 0 2px 0;
    transform:  scaleX(0);
  }
  &:after {
    border-width: 0 2px 0 2px;
    transform:  scaleY(0);
  }
  &:hover:before, &:hover:after {
    transform:  scale(1, 1);
  }
}

//------- {{ effect-3 }} -------//

.effect-3 {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $hover;
    transform:  translateX(-100%);
  }
  &:hover:before {
    transform:  translateX(0);
  }
}

//------- {{ effect-4 }} -------//

.effect-4 {
  padding: 10px;
  display: inline-block;
  overflow: hidden;
  &:before, &:after {
    left: 0;
    width: 100%;
    height: 2px;
    background: $hover;
  }
  &:before {
    bottom: 0;
    transform:  translateX(-100%);
  }
  &:after {
    top: 0;
    transform:  translateX(100%);
  }
  &:hover:before, &:hover:after {
    transform:  translateX(0);
  }
}

//------- {{ effect-5 }} -------//

.myeffect{
  display: inline-block;
  overflow: hidden;
  &:before {
    width: 2000%;
    height: 2px;
    transform:  translateX(-100%);
  }
  &:after {
    width: 20px;
    height: 100%;
    transform:  translateY(100%);
  }
}

.effect-5 {
  display: inline-block;
  overflow: hidden;
  &:before, &:after {
    right: 0;
    bottom: 0;
    background: $hover;
  }
  &:before {
    width: 100%;
    height: 2px;
    transform:  translateX(-100%);
  }
  &:after {
    width: 2px;
    height: 100%;
    transform:  translateY(100%);
  }
  > span {
    display: block;
    padding: 10px;
    &:before, &:after {
      left: 0;
      top: 0;
      background: $hover;
    }
    &:before {
      width: 100%;
      height: 2px;
      transform:  translateX(100%);
    }
    &:after {
      width: 2px;
      height: 100%;
      transform:  translateY(-100%);
    }
  }
  &:hover:before, &:hover:after, &:hover > span:before, &:hover > span:after {
    transform:  translate(0, 0);
    background-color: midnightblue;
  }
}

//------- {{ effect-6 }} -------//

.effect-6 {
  display: inline-block;
  overflow: hidden;
  &:before, &:after {
    right: 0;
    bottom: 0;
    background: $hover;
    transition: transform .3s ease;
  }
  &:before {
    width: 100%;
    height: 2px;
    transform:  translateX(-100%);
    transition-delay: .9s;
  }
  &:after {
    width: 2px;
    height: 100%;
    transform:  translateY(100%);
    transition-delay: .6s;
  }
  > span {
    display: block;
    padding: 10px;
    &:before, &:after {
      left: 0;
      top: 0;
      background: $hover;
      transition: transform .3s ease;
    }
    &:before {
      width: 100%;
      height: 2px;
      transform:  translateX(100%);
      transition-delay: .3s;
    }
    &:after {
      width: 2px;
      height: 100%;
      transform:  translateY(-100%);
      transition-delay: 0s;
    }
  }
  &:hover:before, &:hover:after, &:hover > span:before, &:hover > span:after {
    transform:  translate(0, 0);
  }

  &:hover:before {
    transition-delay: 0s;
  }
  &:hover:after {
    transition-delay: .3s;
  }
  &:hover > span:before {
    transition-delay: .6s;
  }
  &:hover > span:after {
    transition-delay: .9s;
  }
}

//------- {{ effect-7 }} -------//

.effect-7 {
  display: inline-block;
  overflow: hidden;
  &:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $hover;
    transform:  translateX(-100%);
  }
  &:after {
    content: attr(data-content);
    left: 0;
    top: 0;
    width: 0;
    margin: 12px;
    color: $hover;
    white-space: nowrap;
    overflow: hidden;
    transition: width .5s ease;
  }
  > span {
    display: block;
    margin: 2px;
    padding: 10px;
    background: $bg;
  }
  &:hover:before {
    transform:  translateX(0);
  }
  &:hover:after {
    width: calc(100% - 24px);
  }
}

//------- {{ effect-8 }} -------//

.effect-8 {
  display: inline-block;
  overflow: hidden;
  &:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $hover;
    transform:  translateY(-100%);
  }
  &:after {
    content: attr(data-content);
    top: 0;
    left: 0;
    height: 0;
    margin: 12px;
    color: $hover;
    white-space: nowrap;
    overflow: hidden;
    transition: height .5s ease;
  }
  > span {
    display: block;
    margin: 2px;
    padding: 10px;
    background: $bg;
  }
  &:hover:before {
    transform:  translateY(0);
  }
  &:hover:after {
    height: calc(100% - 24px);
  }
}